.modal {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.888);
}
.modalChildren{
    display: grid;
    place-items: center;
}